body {
   background-color: indianred;
    background-size: cover;
    background-attachment: fixed;
}
section{
    padding: 20px;
    text-align: center;
    font-size: 2em;
}
h1{
    text-align: center;
}
label{
    text-align: center;
    padding: 170px;
    font-size: 1.2em;
}